<div ng-controller="StoresCtrl">
	<div class="toy-createhtml">
		<a href="#/">Home</a>
		<header>Add a new toy to the box!<header>
		<input type="text" data-ng-model="item.title" placholder"title">
			<br>
		<input type="text" data-ng-model="item.pic1" placeholder="picture">
		<input type="text" data-ng-model="item.pic2" placeholder="picture">
		<input type="text" data-ng-model="item.pic3" placeholder="picture">
			<br>
		<textarea data-ng-model="item.description" cols="50" rows="20" placeholder="Describe the Product"></textarea>
			<br>
		<input type="text" data-ng-model="item.price" placeholder="price">
		<input type="boolean" data-ng-model="item.canPurchase" placeholder="True or False?">
		<input type="boolean" data-ng-model="item.soldOut" placeholder="True or False?">
		<button data-ng-click="newItem(item)">Create</button>
		<a href="#/store/{{item._id}}">view more</a>
	</div>
</div>
